body{
    margin: 0;
}
html{
    overflow-x: hidden;
}
p{
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 5px;
}
li{
    font-family: 'Patrick Hand', cursive;
    font-size: 16px;
}
h1{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 64px;
    flex: 100%;
    margin: 0px;
    span{
        font-size: 95px;
    }
}
h2{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-align: center;
}
.button{
    background-color: #FAC300;
    padding: 8px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
}
.button:hover{
    background-color: transparent;
    border: #FAC300 solid 2px;
    color: black;
    padding: 6px 38px;
}
nav{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    padding: 1em 10em;
    position: relative;
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 50%;
        }
        h1{
            padding-left: 30px;
        }
        h1::after{
            content: "";
            width: 40%;
            border: 2px solid #FAC300;
            border-radius: 5px;
            top: 53%;
            position: absolute;
            right: 20%;
        }
    }
}

.banner-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 10em;
    .acc{
        display: flex;
        justify-content: space-between;
    }
    .container-asso{
        display: flex;
        align-items: center;
        background: #FAC300;
        border-radius: 30px;
        width: 30%;
        .button-acc{
            background-color: transparent;
            padding: 8px 40px;
            border-radius: 50px;
            border: solid 2px white !important;
            border: none;
            color: white;
            font-family: 'Patrick Hand', cursive;
            font-size: 20px;
            text-decoration: none;
            margin: 20px;
        }
        .button-acc:hover{
            background-color: transparent;
            border: black solid 2px !important;
            color: black;
            padding: 8px 40px !important;
        }
        img{
            padding-right: 20px;
            padding: 1em;
            width: 30%;
        }
        .text-asso{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            align-items: center;
        }
        p{
            background-color: transparent;
            color: white;
        }
    }
    .arrow{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 55px;
        color: #FAC300;
    }
}

.container-asso2{
    display: flex;
    padding: 0em 10em;
    background-color: whitesmoke;
    .img-container-asso2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        img{
            width: auto;
            height: 50%;
        }
    }
    .info-asso-container{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .call-to-action-container{
        display: flex;
        justify-content: center;
    }
}

.separation{
    display: flex;
    justify-content: center;
    margin: 3em 0em;
}

.map-container{
    padding: 1em 10em;
    .map{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        height: 475px;
        display: flex;
        justify-content: center;
        iframe{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}

.bucket-list{
    padding: 1em 10em;
    ul{
        margin-top: 60px; 
    }
    li{
        padding: 1em;
    }
}

.contact{
    padding: 1em 10em;
    .action-contact{
        display: flex;
        justify-content: center;
        margin-top: 70px;
        a img{
            width: auto;
            height: 70%;
        }
    }
    
}

@media screen and (max-width: 1025px){
    nav{
        .logo{
                flex-direction: column;
            h1{
                padding-left: 0px;
            }
            h1::after{
                display: none;
            }
       
        }
        flex-direction: column;
        padding: 1em !important;
    }
    .banner-page{
        padding: 1em;
        .acc{
            flex-direction: column;
            align-items: center;
        }
    }
    .container-asso{
        width: 95% !important;
        margin-top: 0px !important;
        .text-asso{
            p{
                padding: 0em !important;
            }
        }
    }
    .container-asso2{
        padding: 1em;
        flex-direction: column;
        .img-container-asso2{
            width: 100%;
        }
        img{
            height: auto !important;
            width: 90% !important;
        }
        .info-asso-container{
            width: 100%;
        }
    }
    .button{
        padding: 8px 31px;
        margin: 3px;
    }
    .map-container{
        padding: 1em;
        .map{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .separation {
        margin: 1em 0em;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .bucket-list{
        padding: 1em;
    }
    .contact{
        padding: 1em;
    }
}