<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Les deux Zinzins | Le tour d'Europe en Stop !</title>
    <meta name="description" content="Hey gros zinzin, nous sommes deux voyageurs qui se sont lancé un défi : Un mini tour d’europe en stop !
    Et bien sûr tout cela avec le maximum de feeling et de kiff.
    Notre objectif : faire un plein de rencontres et découvrir le plus de choses possible." />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
</head>
<body>
    {{ partial "nav" . }}

    <div class="banner-page">
        <div class="acc">
            <p class="text-zinzin">
                Hey gros <strong>zinzin</strong>, nous sommes deux <strong>voyageurs</strong> qui se sont lancés un défi : Un mini tour <strong>d’europe</strong> en <strong>stop</strong> ! <br>Et bien sûr tout cela avec le maximum de <strong>feeling</strong> et de kiff. <br>Notre objectif : faire plein de <strong>rencontres</strong> et découvrir le plus de choses possible. 
                <br>Cette <strong>aventure</strong> on la vit avec vous, car toutes nos galères seront postées sur les <strong>réseaux sociaux</strong> ! <br>Mais ça ne s’arrête pas là, notre volonté d’aider une <strong>association</strong> est super importante pour nous !
            </p>
        </div>
        <div class="container-asso">
            <img src="img/cleanMyCalanquesfav.png" title="CleanMyCalanques" alt="CleanMyCalanques">
            <div class="text-asso">
               <p>Aide <strong>CleanMyCalanques</strong> dans leur démarche !
                   Un don de 5 euros, c’est un élève sensibilisé dès la rentrée ! </p>
               <a class="button-acc" href="https://www.cleanmycalanques.fr/"  target="_blank">
                   Cliquez-ici &rarr;
               </a>
            </div>
       </div>
        <div class="arrow">
            <img src="img/arrow.svg" title="Fleche" alt="Fleche">
        </div>
    </div>

    <div class="container-asso2">
        <div class="img-container-asso2">
            <img src="img/cleanMyCalanques.png" title="CleanMyCalanques"  alt="CleanMyCalanques">
        </div>
        <div class="info-asso-container">
            <p>Depuis le début de l’aventure, et jusqu’à son bout du bout, nous soutenons le combat que mène Clean My Calanque, et qui nous touche tous : l’environnement !<br>

                <br>C’est une association fondée en 2017 par une bande de potes, et qui prend maintenant beaucoup d’ampleur ! Depuis leurs débuts ils ont récolté plus de 50,2 tonnes de déchets et ont sensibilisé plus de 3100 jeunes.<br>
                
                <br>La rentrée approche ! Une sensibilisation dans une école coûte environ 150 euros. C’EST SIMPLE : Un don de 5 euros, c’est un élève sensibilisé dès la rentrée !</p>
            <div class="call-to-action-container">
                <a href="https://www.cleanmycalanques.fr/" target="_blank" class="button">Voir le site</a>
                <a href="https://www.cleanmycalanques.fr/nous-aider" target="_blank" class="button">Faire un don</a>
            </div>  
        </div>
    </div>

    <div class="separation"><img src="img/separation.svg" title="separation" alt="separation"></div>

    <div class="map-container">
        <h2>Où sommes nous ?</h2>
        <p>Sympa non ? Tu peux voir en temps réel où l’on est ! Enfin presque... Epargne-nous une marge d’ 1km et de 2h ;).</p>
        <div class="map">
            <iframe src="https://position-sng.arthaud.dev/map"style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="100%%" width="100%%" allowfullscreen></iframe>
        </div>
    </div>

    <div class="separation"><img src="img/separation.svg" title="separation" alt="separation"></div>

    <div class="bucket-list">
        <h2>Bucket list</h2>
        <p>Ici, on réunit tous les objectifs que l’on doit réaliser durant notre périple. Ce sont des objectifs que nous nous sommes fixés, mais aussi que VOUS nous avez lancé. </p>
        <ul>
            {{ range (where .Site.Pages "Section" "achievements") }}
                {{ range .Pages }}
                    <div class="bucket-item">{{if .Params.done}}
                            <input type="checkbox" disabled checked></input>
                        {{ else }}
                            <input type="checkbox" disabled></input>
                        {{ end }}
                        <li>{{ .Title }}</li>
                    </div>
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <div class="separation"><img src="img/separation.svg" title="separation" alt="separation"></div>

    <div class="contact">
        <h2>Suivre l’aventure</h2>
        <p>Ca serait dommage de louper les meilleurs moments de cette épopée ! Retrouve sur YouTube (avec un léger différé) ou alors sur Insta et TikTok en direct (ça c’est quand même cool... ) ! </p>
        <div class="action-contact">
            <a href=""><img src="img/instagram.png" title="Instagram" alt="Instagram"></a>
            <a href=""><img src="img/Youtube.png"  title="YouTube" alt="YouTube"></a>
            <a href=""><img src="img/tiktok.png" title="TikTok" alt="TikTok"></a>
        </div>
    </div>

    <footer>
        <a href="/legal">Mentions légales</a>
    </footer>
</body>
</html>