<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Les deux Zinzins | Le tour d'Europe en Stop !</title>
    <meta name="description" content="Hey gros zinzin, nous sommes deux voyageurs qui se sont lancé un défi : Un mini tour d’europe en stop !
    Et bien sûr tout cela avec le maximum de feeling et de kiff.
    Notre objectif : faire un plein de rencontres et découvrir le plus de choses possible." />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
</head>
<body>
    {{ partial "nav" . }}

    <div class="bucket-list">
        {{ .Content }}
    </div>

</body>
</html>